<template>
  <div class="description-container">
    <h2 class="subtitle">{{ `Eileen is running ${target} kilometers!` }}</h2>
    <h2 class="subtitle">{{ `That's the equivalent of ${animatedNumber}` }}</h2>
    <transition :key="measurement.unit" name="slide-fade" mode="out-in">
      <h1 :key="measurement.unit" class="title">{{ measurement.unit }}!</h1>
    </transition>
  </div>
</template>

<script>
import { TweenLite } from 'gsap/TweenMax'

export default {
  props: {
    target: {
      type: Number
    },
    measurement: {
      type: Object,
      value: {
        type: Number,
        required: true
      },
      unit: {
        type: String,
        required: true
      }
    }
  },
  data() {
    return {
      tweenedNumber: 0
    }
  },
  computed: {
    animatedNumber() {
      return this.tweenedNumber.toFixed(2)
    }
  },
  watch: {
    measurement(newValue) {
      this.tween(newValue.value)
    }
  },
  mounted() {
    this.tween(this.measurement.value)
  },
  methods: {
    tween(newValue) {
      TweenLite.to(this.$data, 0.5, { tweenedNumber: newValue })
    }
  }
}
</script>
<style scoped>
.description-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
</style>
