<template>
  <svg viewBox="0 0 100 5" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line
      x1="2.5"
      y1="2.5"
      x2="97.5"
      y2="2.5"
      stroke="#BBB6B6"
      stroke-width="5"
      stroke-miterlimit="3.86874"
      stroke-linecap="round"
    />
    <line
      x1="2.5"
      y1="2.5"
      :x2="barWidth"
      y2="2.5"
      stroke="#acdb65"
      stroke-width="5"
      stroke-miterlimit="3.86874"
      stroke-linecap="round"
    />
    <defs>
      <linearGradient
        id="paint0_linear"
        x1="35"
        y1="6.00017"
        x2="0"
        y2="6.00017"
        gradientUnits="userSpaceOnUse"
      >
        <stop offset="0.9" stop-color="#acdb65" />
        <stop offset="1" stop-color="white" stop-opacity="0" />
      </linearGradient>
    </defs>
  </svg>
</template>

<script>
export default {
  props: {
    percentage: {
      type: Number
    }
  },
  computed: {
    barWidth() {
      return this.percentage * (100 - 2.5)
    }
  }
}
</script>
