<template>
  <div class="container">
    <div class="section">
      <distance-description :measurement="measurement" :target="target" />
    </div>
    <div class="section">
      <h2 class="subtitle">
        {{ `Distance covered this year ${distanceCoveredTotal}km` }}
      </h2>
      <progress-bar :percentage="percantageCovered" />
    </div>
  </div>
</template>

<script>
import ProgressBar from '~/components/ProgressBar'
import DistanceDescription from '~/components/DistanceDescription'

export default {
  components: {
    ProgressBar,
    DistanceDescription
  },
  data() {
    return {
      intervalId: null,
      measurementIndex: 0,
      target: 150,
      distanceCovered: [
        { date: '2019-07-33', distance: 3.3 },
        { date: '2019-09-22', distance: 11.5 },
        { date: '2019-10-1', distance: 11.5 },
        { date: '2019-10-5', distance: 7.3 }
      ],
      measurements: [
        {
          value: 0.236,
          unit: 'Gophers'
        },
        {
          value: 0.0895,
          unit: 'Long jump world records'
        },
        {
          value: 0.0236995,
          unit: 'Marathons'
        },
        {
          value: 0.0001509,
          unit: 'iPhone 11s'
        },
        {
          value: 0.0003556,
          unit: 'Large pizzas'
        },
        {
          value: 1.852,
          unit: 'Nautical miles'
        },
        {
          value: 0.00033,
          unit: 'Flea horizontal jumps'
        },
        {
          value: 0.096,
          unit: 'Big Bens'
        },
        {
          value: 0.0003,
          unit: 'Footlongs'
        }
      ]
    }
  },
  computed: {
    measurement() {
      return {
        value: this.target / this.measurements[this.measurementIndex].value,
        unit: this.measurements[this.measurementIndex].unit
      }
    },
    distanceCoveredTotal() {
      const distanceCoveredTotal = this.distanceCovered.reduce((acc, cur) => ({
        distance: acc.distance + cur.distance
      }))
      return distanceCoveredTotal.distance
    },
    percantageCovered() {
      return this.distanceCoveredTotal / this.target
    }
  },
  beforeDestroy() {
    clearInterval(this.intervalId)
  },
  created() {
    this.intervalId = setInterval(() => {
      this.measurementIndex =
        (this.measurementIndex + 1) % this.measurements.length
    }, 3000)
  }
}
</script>

<style>
h1 {
  font-size: 9vh;
}

h2 {
  font-size: 5vh;
}

.section {
  height: 100%;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
  padding-top: 10em;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 5vh;
  }
  h2 {
    font-size: 3vh;
  }

  .container {
    padding-top: 64px;
  }
}
</style>
